numpy>=1.18.4
scipy>=1.2.3
dash>=2.13.0
dash-bootstrap-components>=1.5.0
dash-core-components>=2.0.0
dash-html-components>=2.0.0
dash-renderer>=1.6.0
dash-table>=5.0.0
plotly>=5.17.0
sympy>=1.5.1
mpmath>=1.1.0

